<%: func Admin(args AdminArgs, w io.Writer) %>

<%~ "layout/wrapper.html" %>

<%@ title { %>admin<% } %>

<%@ head { %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <script src="/assets/js/main.js"></script>
<% } %>

<%@ body { %>
<% adminArgs := args %>
<input type="hidden" id="api-token" value="<%= adminArgs.Token() %>">
<div class="content">
  <div class="admin-wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="col col-sm-11 col-md-11 col-lg-11 text-right">
            <button type="button" class="btn btn-md btn-primary btn-create" class="btn btn-primary" data-toggle="modal" data-target="#createModal">ユーザー作成</button>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <table id="admin" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>ユーザー名</th>
          <th>管理者</th>
          <th>アクション</th>
        </tr>
      </thead>
      <tbody>
        <% for _, user := range adminArgs.Users() { %>
          <% if user.ID > 1 { %>
          <tr>
            <td><%==u user.ID %></td>
            <td><%= user.Name %></td>
            <td><%==b user.Admin %></td>
            <td align="center">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" data-id="<%==u user.ID %>" data-name="<%= user.Name %>" data-is-admin="<%==b user.Admin %>"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="<%==u user.ID %>" data-name="<%= user.Name %>"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">新しいユーザーの作成</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="create-user-validation">
          <div class="modal-body">
            <div class="form-group">
              <label for="username" class="form-control-label">ユーザー名:</label>
              <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="form-group">
              <label for="password" class="form-control-label">パスワード:</label>
              <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <div class="form-group">
              <label for="verify-password" class="form-control-label">パスワードの再確認:</label>
              <input type="password" name="verify-password" class="form-control" id="verify-password" data-match="#password" data-match-error="Whoops, these don't match" required>
            </div>
            <div class="form-check form-check-inline">
              <label for="is-admin" class="form-check-label">
                  <input type="checkbox" name="is-admin" class="form-check-input" id="is-admin"> 管理者にする
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <button type="submit" id="create" class="btn btn-primary">ユーザーの作成</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">ユーザーの編集</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="edit-user-validation">
          <div class="modal-body">
            <div class="form-group">
              <label for="username" class="form-control-label">ユーザー名:</label>
              <input type="text" class="form-control" id="username" readonly="readonly">
              <input type="hidden" class="form-control" id="user-id">
            </div>
            <div class="form-check form-check-inline">
              <label for="is-admin" class="form-check-label">
                  <input type="checkbox" name="is-admin" class="form-check-input" id="is-admin"> 管理者にする
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <button type="submit" id="edit" class="btn btn-primary">編集を完了する</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">ユーザーの削除</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="delete-user-validation">
            <div class="modal-body">
              <div class="form-group">
                <label for="username" class="form-control-label">ユーザー名:</label>
                <input type="text" class="form-control" id="username" readonly="readonly">
                <input type="hidden" class="form-control" id="user-id">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <button type="submit" id="delete" class="btn btn-danger">削除する</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<% } %>

<%@ foot { %>
  <script src="/assets/js/admin.js"></script>
<% } %>