<%: func MyPage(args MyPageArgs, w io.Writer) %>

<%~ "layout/wrapper.html" %>

<%@ title { %>mypage<% } %>

<%@ head { %>
  <link rel="stylesheet" type="text/css" href="/assets/css/c3.min.css">
<% } %>

<%@ body { %>
<%
  mypageArgs := args
  user := mypageArgs.User()
%>
<input type="hidden" id="api-token" value="<%= mypageArgs.Token() %>">
<div class="content">
  <div class="container">
    <div class="row float-right">
      <div class="col">
        <select id="action" class="form-control tag-select">
          <% for _, tag := range user.Tags { %>
            <option value="<%==u tag.ID %>"><%= tag.Name %></option>
          <% } %>
        </select>
      </div>
      <div class="col">
          <button type="button" id="reregister-password" data-toggle="modal" data-target="#addModal" class="btn btn-primary">タグを追加する</button>
      </div>
    </div>
    <% if len(user.Tags) > 0 { %>
      <div class="h2">タグ「<span id="tagname"><%= user.Tags[0].Name %></span>」のグラフ</div>
      <div id="chart"></div>
    <% } %>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">新規タグの追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="username" class="form-control-label">タグの名前:</label>
          <input type="text" class="form-control" id="tag_name" placeholder="タグの名前">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" id="add-tag" class="btn btn-primary">追加する</button>
      </div>
    </div>
  </div>
</div>
<% } %>

<%@ foot { %>
  <script src="/assets/js/mypage.js"></script>
<% } %>