<%: func MyPage(args MyPageArgs, w io.Writer) %>

<%~ "layout/wrapper.html" %>

<%@ title { %>mypage<% } %>

<%@ head { %>
  <link rel="stylesheet" type="text/css" href="/assets/css/c3.min.css">
<% } %>

<%@ body { %>
<% 
  mypageArgs := args
  user := mypageArgs.User()
%>
<input type="hidden" id="api-token" value="<%= mypageArgs.Token() %>">
<div class="content row">
  <div class="col-xs col-md-2" id="tags">
    <nav class="sidebar-nav">
      <ul class="nav nav-pills flex-column">
        <li class="navbar-brand sidebar-brand">タグ一覧</li>
        <% for _, tag := range user.Tags { %>
        <li class="nav-item"><a href="javascript:void(0)" class="action" name="<%==u tag.ID %>"><%= tag.Name %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
  <div class="col-xs-9 col-md-9" id="page-content-wrapper">
    <div class="container">
      <% if len(user.Tags) > 0 { %>
        <div class="h2">タグ「<span id="tagname"><%= user.Tags[0].Name %></span>」のグラフ</div>
        <div id="chart"></div>
      <% } %>
    </div>
  </div>
  <div class="col-md"></div>
</div>
<% } %>

<%@ foot { %>
  <script src="/assets/js/mypage.js"></script>
<% } %>