<%: func Settings(args SettingsArgs, w io.Writer) %>

<%~ "layout/wrapper.html" %>

<%@ title { %>settings<% } %>

<%@ head { %>
  <script src="/assets/js/main.js"></script>
<% } %>

<%@ body { %>
<% 
  settingsArgs := args
  user := settingsArgs.User()
%>
<input type="hidden" id="api-token" value="<%= settingsArgs.Token() %>">
<div class="app-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>アクセストークンの変更</h3>
        <div class="form-group">
          <label for="access-token">アクセストークン</label>
          <input type="text" class="form-control" id="access-token" value="<%== user.Token %>" readonly>
        </div>
        <button type="button" id="regen-token" class="btn btn-primary float-right">アクセストークンを更新する</button>
      </div>
    </div>
  </div>
</div>
<div class="app-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>パスワードの変更</h3>
        <div class="form-group">
          <label for="password">パスワード</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <div class="form-group">
          <label for="password-verify">パスワードの再確認</label>
          <input type="password" class="form-control" id="password-verify" required>
        </div>
        <button type="button" id="reregister-password" class="btn btn-primary float-right">パスワードを変更する</button>
      </div>
    </div>
  </div>
</div>
<% } %>

<%@ foot { %>
  <script src="/assets/js/settings.js"></script>
<% } %>