@import "bourbon";
@import "neat";

body {
	background: #fff !important;	
}

/*
 * navigation-bar
 */

.v-navbar {
	font-weight: 700;
	border-bottom: 1px solid #e5e5e5;
}

/*
 * header
 */

.page-heading h1 {
	margin-top: 0;
	color:#fff;
}

.page-heading p {
	margin-bottom: 0;
	line-height: 1.4;
}

.page-heading .container {
	position:relative;
}

@mixin image-overlay($color, $url) {
	background-image: linear-gradient(to bottom, $color, $color), url($url);
	background-image: -moz-linear-gradient(top, $color, $color), url($url);
	background-image: -o-linear-gradient(top, $color, $color), url($url);
	background-image: -ms-linear-gradient(top, $color, $color), url($url);
	background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color)), url($url);
	background-image: -webkit-linear-gradient(top, $color, $color), url($url);
}

.page-heading {
	position: relative;
	margin-bottom: 30px;
	padding: 30px 15px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	background-color: rgba(39, 57, 138, 0.9);
	font-size: 1.25rem;
	@include image-overlay(rgba(0, 0, 0, 0.5), "/assets/img/vegetables.png");
}

$min-grid: (
  media: "(min-width: 768px)",
);

@include grid-media($min-grid) {
	.page-heading {
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: left;
		font-size: 1.5rem;
	}

	.page-heading h1 {
		font-size: 4rem;
		line-height: 1;
	}
}