@import "bourbon";
@import "neat";

body {
  background: #fff !important;	
}

/*
 * navigation-bar
 */

.v-navbar {
	font-weight: 700;
	border-bottom: 1px solid #e5e5e5;
}

/*
 * header
 */

.page-heading h1 {
	margin-top: 0;
	color:#fff;
}

.page-heading p {
	margin-bottom: 0;
	line-height: 1.4;
}

.page-heading .container {
	position:relative;
}

@mixin image-overlay($color, $url) {
	background-image: linear-gradient(to bottom, $color, $color), url($url);
	background-image: -moz-linear-gradient(top, $color, $color), url($url);
	background-image: -o-linear-gradient(top, $color, $color), url($url);
	background-image: -ms-linear-gradient(top, $color, $color), url($url);
	background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color)), url($url);
	background-image: -webkit-linear-gradient(top, $color, $color), url($url);
}

.page-heading {
	position: relative;
	margin-bottom: 30px;
	padding: 30px 15px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	background-color: rgba(39, 57, 138, 0.9);
	font-size: 1.25rem;
	@include image-overlay(rgba(0, 0, 0, 0.5), "/assets/img/vegetables.png");
}

$min-grid: (
  media: "(min-width: 768px)",
);

@include grid-media($min-grid) {
	.page-heading {
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: left;
		font-size: 1.5rem;
	}

	.page-heading h1 {
		font-size: 4rem;
		line-height: 1;
	}
}

/*
 * detail content
 */
.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #F55A1D !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: 0 $icon-bullet-size / 4;
    width: $icon-bullet-size;
    text-align: center;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  span {
    color: #fff;
    font-size: $icon-bullet-size / 1.48;
  }
}