@import "bourbon";
@import "neat";

$min-grid: (
  media: "(min-width: 768px)",
);

.content {
  height: 100%;
  margin-top: 40px;
  margin-bottom: -40px;
  padding-bottom: 20px;
}

.admin-content {
  height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px;
}

.sub {
  margin-bottom: 20px !important;
}

.json {
  padding: 20px;
  max-height: 320px;
  background-color: #F6F8FB;
  overflow: scroll;
  border-radius: 5px;
}

.calendar {
  width: 270px;
  text-align: center;
  border: solid 1px #0275D8;
  
  &:focus {
    outline: none;
  }
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 250px;
  vertical-align: middle;

  &::-moz-focus-outer {
    border: 0;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #0275D8;
    border-radius: 1px;
    border: 0px solid #0275D8;
  }
  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #E0E0E0;
    border: 1px solid #636c72;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #0275D8;
  }
  &::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #0275D8;
    border-radius: 1px;
    border: 0px solid #0275D8;
  }
  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #E0E0E0;
    border: 1px solid #636c72;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: #0275D8;
    border: 0px solid #0275D8;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }

  &::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #E0E0E0;
    border: 1px solid #636c72;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  &:focus::-ms-fill-lower,
  &:focus::-ms-fill-upper {
    background: #0275D8;
  }
}
