@import "bourbon";
@import "neat";

$min-grid: (
  media: "(min-width: 768px)",
);

.content {
  height: 100%;
  margin-top: 40px;
  margin-bottom: -40px;
  padding-bottom: 20px;
}

.sub {
  margin-bottom: 20px !important;
}

.json {
  padding: 20px;
  max-height: 320px;
  background-color: #F6F8FB;
  overflow: scroll;
  border-radius: 5px;
}